:root {
  --color__bg: #F8F7F7;
  --color__item: #FFF;
  --color__border: #D5D4D6;
}

body {
  background-color: var(--color__bg);
}

.container {
  max-width: 400px;
  margin: 2rem auto;
  padding: 1rem 2rem;
  
}

.container h1 {
  text-align: center;
  text-transform: uppercase;
}

.list-item {
  border: 1px solid var(--color__border);
  background-color: var(--color__item);
  padding: 0.5rem 2rem;
}

a.list-item {
  color: initial;
  text-decoration: none;
  display: block;
}

p, h5, li {
  margin: 0;
  display: flex;
}

span {
  margin-left: auto;
}

em {
  font-size: 70%;
}

ul {
  list-style: none;
  padding: 0;
}

header {
  background-color: var(--color__item);
  display: flex;
  line-height: 40px;
}

div.back-button {
  border: 1px solid;
  background-color: var(--color__item);
  width: 40px;
  margin-right: 0.5rem;
  text-align: center;
  border: 1px solid var(--color__border);
  cursor: pointer;
}